<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup> 

  <!-- PayPal SDK settings, currently hooked up to Benjermen Hill's sandbox paypal -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AXQ-3Tz74FfwnuNN0RcTzxcg_hWQgEAi3NxZnqci2liRno5jwkI60Ofh6-QgqLWM73G4hJbRbGJzXOIO" />
      <add name="clientSecret" value="EGVW0R253ozoPQTMCCHSMPZP5iA2iyd_e7SN0JVDH9p6mdV8zvqeGfs_YjM4jAPQwcTVNe5uIWnt9ay9" />
    </settings>
  </paypal>

</configuration>